<%= image_tag current_user.avatar(:thumb) %>
<div stlyle="clear:both;" ></div>
<%= current_user.name %> !
<br/>
<br/>
<br/>
<br/>

<%= form_for(current_user) do |f| %>
<%= f.label :name %>
<%= f.text_field :name %> <br />
<%= f.file_field :avatar %> <br />
<%= f.submit 'Update' %>
<% end %>
