<div id="header-bar">
    <div id="header-box"> <a href="/"><%= image_tag 'logo.png' %></a>
      <div id="user-control-panel"> <%= image_tag current_user.avatar(:tiny) %>
        <form action="" class="">
          <div class="selector" id="uniform-undefined"><span style="-moz-user-select: none;"><%= current_user.name %></span><select name="" style="opacity: 0;">
            <option value="Logout"><%= link_to "Logout", sign_out_path %></option>
            <option value="Profile"><%= link_to 'Profile', edit_user_path(current_user) %></option>
          </select></div>
        </form>
      </div>
    </div>
  </div>
