        <div class="generic_boxes">
          <h2>Choose a way to join </h2>
          <div class="box-inner">
						<div id="reg-home">
							<h4>Sign up with social accounts</h4>
								
							<button name="Facebook" rel="<%=user_omniauth_authorize_path(:facebook)%>" id="facebook-btn" class="social-reg fbBtn">Signup with facebook account</button>
							<button name="Twitter" rel="<%=user_omniauth_authorize_path(:twitter)%>" id="twitter-btn" class="social-reg twiiterBtn">Signup with twitter account</button>
							<h4>OR Sign up with your personal account</h4>
							<button name="Email" id="email-btn" class="emailBtn">Signup with your personal email account</button>
						</div>
						<div id="social-reg" style="display:none;">
						 <%= form_tag('/users/complete_registration', :id => 'social-form', :remote=> true) do %>
								<%= hidden_field_tag 'format', 'json' %>
								<div class="userInfo"> <img class="social_image" alt="User Thumbnail" src="images/signup-thumb.jpg">
									<h3 id="user_name">sami mughal</h3>
								</div>
								<input id="user_email" name="user[email]" type="text" class="placeholder" placeholder="Your Email Address">
								<input id="user_password" name="user[password]" type="password" class="placeholder" placeholder="Password">
								<label>Share on facebook</label>
								<input type="checkbox" class="remember" value="" name="">
								<br>
								<button class="button seaGreen" name="create-account">Create Account</button>
								<h4>By clicking "Create Account", you're agreeing to the Terms of Service.</h4>
								<a class="warning back-btn" href="" >Cancel and Go back</a>
							<% end %>
						</div>
						<div id="email-reg" style="display:none;">
							<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :remote => true ) do |f| %>
								<%= f.text_field :name,  :class =>  'placeholder', :placeholder => 'Full Name' %>
								<%= f.text_field :email, :class => 'placeholder', :placeholder => 'Your Email Address' %>
								<%= hidden_field_tag 'format', 'json' %>
								<%= f.password_field :password , :placeholder => 'Password'%>
								<button class="button seaGreen" name="create-account">Create Account</button>
								<h4>By clicking "Create Account", you're agreeing to the Terms of Service.</h4>
								<a class="warning back-btn" href="">Cancel and Go back</a>
							<% end %>
						</div>
						<div id="reg-success" style="display:none;">
							You are registered successfully, An email has been sent to your email address, please confirm you email to activate your account. Thanks
							<input type="button" class="back-btn" value="Back"/>
						</div>
          </div>
        </div>
