<!DOCTYPE html>

<head>
  <%= csrf_meta_tags %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Fanaylyzer</title>
<!-- Main Controlling Styles -->
<%= stylesheet_link_tag 'main' %>
<%= stylesheet_link_tag 'uniform' %>
<%= javascript_include_tag "application" %>

<!-- Blue Theme Styles -->
<!--[if IE]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style type="text/css">
	body {
	  background: url("/assets/pattern.png") repeat scroll 0 0 #484D4D;
	  	color: #5A5A50;
}
	</style>
</head>
<body>
<div id="main-wrapper">
	<%= render :partial => 'shared/public_header' %>
  <div class="mainContents-Homebg">
    <div id="mainContents">
				<%= yield %>
    </div>
  </div>
  <div class="clear"></div>
	<%= render :partial => 'shared/public_footer' %>
</div>
<%= javascript_include_tag 'uniform-js' %>

    <script type="text/javascript" charset="utf-8">
      $(function(){
        $("#user-control-panel select").uniform();
      });
    </script>
<%# javascript_include_tag 'custom-js' %>
</body>
</html>
